RoleControl/.idea/*
RoleControl/Library/*
RoleControl/Logs/*
RoleControl/obj/*
RoleControl/Assets/ArtRes/*
RoleControl/Temp/*
RoleControl/Packages/*
RoleControl/Assembly-CSharp.csproj
RoleControl/RoleControl.sln
RoleControl/Assembly-CSharp-Editor.csproj
RoleControl/Assembly-CSharp-Editor-firstpass.csproj
RoleControl/Assembly-CSharp-firstpass.csproj

